.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin:5px
}

.item {
  
  line-height: 1;
}

.item a {
  color: #607D8B;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.item a.active {
  font-weight: 700;
  background-color: rgba(0,0,0,0.1);
}