.app-wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  background-color: #bbdefb;
}

.header img {
  max-height: 100%;
}

.nav {
  grid-area: nav;
  background-color: #bbdefb;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  grid-area: main;
}