* {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "navbar main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.main {
  grid-area: main;
}

.navbar {
  grid-area: navbar;
  background-color: #bbdefb;
}

.header {
  grid-area: header;
  background-color: #bbdefb;
}
