.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height:100%;
    grid-gap: 10px;
}

.usersList {
    background-color: #fafafa;
    height: 100%;
    padding: 5px;
}

.messages {
    background-color: #fafafa;
    height: 100%;
    padding: 5px;
}
