/* .userDialog {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
} */

.userDialogLink {
    padding: 10px;
    border-radius: 5px;
    display: block;
    color: #000;
    text-decoration: none;
}

.userDialogLink.active {
    background-color: rgba(0,0,0,0.1);
}
